#root {
  background-color: var(--background-color);
}

.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.left-section {
  background-color: var(--background-dark-2);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2px;
}

.right-section {
  width: 100%;
  padding: 0px 6px;
  background-color: var(--background-dark-3);
}
