* {
  box-sizing: border-box;
}

#root {
  background-color: var(--background-color);
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Sections */

.top-section {
  height: 10vh;
  padding: 10px;
}

.middle-section {
  height: 60vh;
  padding: 10px;
  overflow-y: scroll;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 6px;
  }
}

.bottom-section {
  height: 30vh;
  border-top: 1px solid black;
  padding: 10px;
  overflow-y: scroll;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 6px;
  }
}

/* Top section */

.app-title-header {
  margin: 0;
  color: rgba(0, 0, 0, 0.5);
  line-height: 1.0;
}

.top-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add-group-button {
  padding: 10px 20px;
  border: none;
  background-color: var(--button-background-color);
}

/* Bottom section */

.group-previews-header {
  margin: 0;
  padding-bottom: 10px;
}

.group-previews-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.group-preview-container {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  padding: 8px;
  cursor: pointer;
}

.highlighted-group-preview {
  background-color: white;
}

.group-preview-delete-button {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
}

.delete-group-icon {
  fill: rgb(146, 146, 146);
  height: 100%;
  width: 100%;
}

.delete-group-icon:hover {
  fill: rgb(227, 1, 1);
}