.block-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 0px var(--container-vertical-spacing) 0px;
}

.block-zoom-s {
  height: 150px;
}

.block-zoom-m {
  height: 250px;
}

.block-zoom-l {
  height: 500px;
}

.block-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0px;
}

.block-position {
  font-family: 'Courier New', Courier, monospace;
}

.block-lock-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 16px;
  padding: 0px;
}

.block-copy-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 16px;
  padding: 0px;
}

.block-delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 16px;
  padding: 0px;
}

.block-content-textarea {
  flex-grow: 1;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  background-color: var(--textarea-nonediting-background-color);

  &::-webkit-scrollbar {
    width: 6px;
    background-color: var(--textarea-nonediting-background-color)
  }
}

.block-content-textarea:focus {
  background-color: var(--textarea-editing-background-color);
}