.group-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.group-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.group-label {
  margin: 0;
}

.group-label-input {
  border: none;
  outline: none;
  resize: none;
  background-color: rgba(0, 0, 0, 0.1);
  width: 150px;
  font-size: 1rem;
  padding: 10px;
}

.add-block-button {
  border: none;
  background-color: lightblue;
}

.group-blocks-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}
