.group-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.group-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.group-label {
  margin: 0;
}

.group-label-input {
  border: none;
  outline: none;
  resize: none;
  width: 150px;
  font-size: 1rem;
  padding: 10px;
  background-color: var(--textarea-nonediting-background-color);
}

.group-label-input:focus {
  background-color: var(--textarea-editing-background-color);
}

.add-block-button {
  border: none;
  background-color: var(--button-background-color);
}

/* Group Layers */

.group-layer-container {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgb(0, 0, 0, 0.15);
}

.group-layer-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 10px;
}

/*
  The header takes care of the top padding and the layer blocks container takes care of the bottom padding
  This keeps the layer blocks container's scrollbar from butting up against the bottom of the block containers
  While adding padding at the top above the header
*/

.group-layer-blocks-container {
  display: flex;
  flex-direction: row;
  gap: 27px 10px;
  padding-bottom: 10px;
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 6px;
  }
}

/* Group Layer Blocks */

.group-layer-block-container {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  width: 220px;
  gap: 10px;
}

.add-transformation-button {
  height: 2rem;
  padding: 0px;
  border: none;
  background-color: var(--button-background-color);
}