.group-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.group-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.group-label {
  margin: 0;
}

.add-block-button {
  border: none;
  background-color: lightblue;
}

.group-blocks-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}