.network-editor-container {
  width: 100%;
  height: 100%;
  background-color: var(--background-dark-2);
  padding: 4px;
  display: flex;
  flex-direction: column;
}

.network-editor-header h3 {
  margin: 0px;
  padding: 0px;
}

.network-editor-canvas {
  height: 100%;
  width: 100%;
  background-color: darkgray;
}