.node-g {
  cursor: default;
}

.node-rectangle {
  fill: white;
  stroke: black;
  stroke-width: 1;
  rx: 5;
}

.node-rectangle.selected {
  outline: 2px solid #ffffff;
  border-radius: 3px;
}

.node-name {
  font-size: 0.9rem;
  text-anchor: middle;
  dominant-baseline: middle;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.node-input-port {
  stroke: black;
  stroke-width: 1;
  cursor: pointer;
  fill: #ffffff;
  transform: translateY(-5px);
}

.node-input-port.drawing:hover {
  fill: #44ff44;
}

.node-input-port.connected:hover {
  fill: #ff4444;
}

.node-output-port:hover {
  fill: #44ff44;
}

.node-output-port {
  stroke: black;
  stroke-width: 1;
  cursor: pointer;
  fill: #ffffff;
  transform: translateY(5px);
}

.node-output-port.connected:hover {
  fill: #ff4444;
}
