.output-view-container {
  width: 100%;
  height: 100%;
  background-color: var(--background-dark-2);
  padding: 4px;
  display: flex;
  flex-direction: column;
}

.output-view-content {
  width: 100%;
  height: 100%;
  min-height: 100px;
  overflow-y: auto;
  background-color: var(--input-background-color);
  padding: 4px;
}

/* Output Type Selector */

.output-view-selector {
  display: flex;
  flex-direction: row;
  background-color: var(--background-dark-2);
  gap: 2px;
}

.output-view-selector-item {
  padding: 8px;
  color: var(--text-color);
  background-color: var(--background-dark-1);
  border: none;
}

.output-view-selector-item:focus {
  outline: 1px solid white;
  outline-offset: -1px;
}

.output-view-selector-item.selected {
  color: var(--text-color);
  background-color: var(--input-background-color);
  outline: none;
}

.output-view-selector-item.has-value {
  border-top: 2px solid white;
}

/* Text */

.output-view-text {
  white-space: pre-wrap;
}

/* Table */

.output-view-table {
  overflow-x: auto;
  --table-cell-width: 100px;
}

.output-view-table-header {
  width: fit-content;
  min-width: 100%;
  border-bottom: 1px solid var(--background-dark-3);
  display: flex;
  flex-direction: row;
}

.output-view-table-header-item {
  width: var(--table-cell-width);
  flex-shrink: 0;
  border-right: 1px solid var(--background-dark-1);
}

.output-view-table-body {
  width: fit-content;
  min-width: 100%;
}

.output-view-table-row {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--background-dark-3);
}

.output-view-table-cell {
  width: var(--table-cell-width);
  border-right: 1px solid var(--background-dark-1);
  padding: 1px 0px 1px 6px;
  flex-shrink: 0;
}