.parameters-pane-container {
  width: 100%;
  height: 100%;
  background-color: var(--background-dark-2);
  padding: 4px;
  display: flex;
  flex-direction: column;
}

.parameters-pane-header h3 {
  margin: 0px;
  padding: 0px;
}

.parameters-pane-content {
  width: 100%;
  height: 100%;
  background-color: var(--background-dark-3);
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.parameters-pane-property-container {
  display: flex;
  flex-direction: row;
  align-items: top;
}

.parameters-pane-property-label {
  width: 100px;
  flex-shrink: 0;
}

.parameters-pane-property-textarea {
  height: 5em;
  width: 100%;
  resize: vertical;
}

/* .parameters-pane-property-value */

