.parameters-pane-container {
  width: 100%;
  height: 100%;
  background-color: var(--background-dark-2);
  padding: 4px;
  display: flex;
  flex-direction: column;
}

.parameters-pane-header h3 {
  margin: 0px;
  padding: 0px;
}

.parameters-pane-node-id {
  margin-left: 30px;
  font-weight: 400;
  font-size: 12px;
  color: var(--text-muted);
}

.parameters-pane-content {
  width: 100%;
  height: 100%;
  padding: 4px;
  background-color: var(--background-dark-3);
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.parameters-pane-property-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.parameters-pane-property-label {
  width: 100px;
  flex-shrink: 0;
}

.parameters-pane-property-textarea {
  height: 100%;
  width: 100%;
  resize: vertical;
}

/* .parameters-pane-property-value */

.parameters-pane-property-number-input {
  width: 100px;
}

.parameters-pane-file-input {
  width: 100%;
  margin-top: 4px;
}

.parameters-pane-file-button {
  width: 100%;
  padding: 8px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.parameters-pane-file-button:hover {
  background-color: #e0e0e0;
}