.project-container {
  height: 100vh;
}

/* Header */

.project-header {
  border-bottom: 1px solid var(--background-dark-3);
  height: 5%;
}

.project-title-input {
  border: none;
  font-size: 1.2em;
  width: 100%;
  line-height: 1.8rem;
  padding-left: 4px;
}

/* Panes */

.project-panes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 95%;
}

.left-pane {
  height: 100%;
  display: grid;
  grid-template-rows: 50% 50%;
}

.left-pane-top {
  border-bottom: 1px solid var(--background-dark-3);
}

.left-pane-bottom {}

.right-pane {
  border-left: 1px solid var(--background-dark-3);
  max-height: 100%;
  overflow-y: auto;
}
