.project-header {
  height: 6vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--background-dark-3);
}

.project-title-input {
  border: none;
  font-size: 1.2em;
  width: 35vw;
  line-height: 1.8rem;
  margin-left: 4px;
  padding: 0px 4px;
}

.project-panes {
  display: flex;
  flex-direction: row;
  height: 94vh;
  width: 100%;
}

.left-pane {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.left-pane-top {
  height: 55%;
  border-bottom: 1px solid var(--background-dark-3);
}

.left-pane-bottom {
  height: 45%;
}

.right-pane {
  width: 50%;
  border-left: 1px solid var(--background-dark-3);
}