[Unit]
Description=Express Web Server
After=network.target

[Service]
Type=simple
User=ec2-user
Group=ec2-user
WorkingDirectory=/home/ec2-user/canvo/backend
ExecStart=yarn start
Restart=on-failure
RestartSec=10
SyslogIdentifier=canvo-server
StandardOutput=append:/var/log/canvo-server/out.log
StandardError=append:/var/log/canvo-server/err.log

[Install]
WantedBy=multi-user.target